@font-face {
    font-family: 'din';
    src: url('fonts/dinme8-webfont.eot');
    src: url('fonts/dinme8-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/dinme8-webfont.woff') format('woff'),
        url('fonts/dinme8-webfont.ttf') format('truetype'),
        url('fonts/dinme8-webfont.svg#din-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'din';
    src: url('fonts/dinli6-webfont.eot');
    src: url('fonts/dinli6-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/dinli6-webfont.woff') format('woff'),
        url('fonts/dinli6-webfont.ttf') format('truetype'),
        url('fonts/dinli6-webfont.svg#din-lightregular') format('svg');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'din';
    src: url('fonts/dinbo3-webfont.eot');
    src: url('fonts/dinbo3-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/dinbo3-webfont.woff') format('woff'),
        url('fonts/dinbo3-webfont.ttf') format('truetype'),
        url('fonts/dinbo3-webfont.svg#din-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;

}
body{
    width: 615px;
}
*{
    font-family: 'Arial',sans-serif;
}

h1,
h2,
h3,
h4{
    color:#000000;
    font-family: 'din', sans-serif;
    font-weight: normal;

}
h2.little{
    font-size:19px;
}
p, 
div{
    color:#333333;
    font-size:14px;
    line-height: 18px;
}
h3{
    font-size:19px;
}

blockquote{
    position: relative;
    padding: 0 70px;
    margin: 40px 90px;

}
blockquote p,
blockquote div{
    font-size: 24px !important;
    font-family: 'din', sans-serif;
    line-height: 23px !important;
    color: #333 !important;
}

blockquote:before{
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    background: url(../images/css/blockquote-left.png);
    height: 32px;
    width: 40px;  
}

blockquote:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    background: url(../images/css/blockquote-right.png);
    height: 32px;
    width: 40px;  
}

a{
    color: #333;
    text-decoration: underline;
}
a:active, a:hover{
    text-decoration: underline; 
}
table{
    margin: 10px 0;
}
table caption{
    font-family: 'din', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 5px 0;
}
table tbody tr td{
    padding:5px;
    vertical-align: top;
    color: #333333;
    font-size: 14px;
    line-height: 18px;
}